html, body{
	font-size: 1em;
	font-family: Coda,Arial,sans-serif;
	color: #f6f6f6;
}

body{
	background-color: #fff;
	width: 70%;	
	margin: 0 auto;
}

.container {
	background: #558188;
	margin: 0 auto;
	width: 100%;

}

input{
	margin-bottom: 1em;
	width: 85%;
	color: #f6f6f6;
	border: none;
	font-size: 1em;
  	border-radius: .15em;
  	background: #1AA3A3;
  	padding: .5em;
  	font-family: Coda,Arial,sans-serif;
}

button {
	background: #86BECB;
	color: #f6f6f6;
  	height: 2em;
  	border: none;
  	border-radius: .15em;
  	width: 35%;
  	font-size: 1em;
  	font-family: Coda,Arial,sans-serif;
  	margin: 1em;
  	cursor: pointer; cursor: hand;
}

h2{
	margin-top: 2em;
	padding-top: 1em;
	letter-spacing: .03em;
	text-align: center;
}

section {
	margin-left: 2em;
}

.center {
	text-align: center;
}

p {
	padding: 1em 2em;
	text-align: center;
}

*::-webkit-input-placeholder {
    color: #f6f6f6;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #f6f6f6;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #f6f6f6;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #f6f6f6;
}

